<app-loading *ngIf="loadingArtist"></app-loading>
<div class="row">

    <div class="col-2"></div>
    <img [src]="artista.images | noimage" class="img - thumbnail img-circle">

    <div class="col">
        <h3>
            {{ artista.name }}
        </h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">
          Ir a la página del artista
        </a>
        </p>
    </div>
    <div class="col-4">
        <div class="col-text text-right">
            <button routerLink="/search" class="btn btn-outline-danger">
            Regresar
          </button>
        </div>
    </div>


</div>