<div class="container main-container">


    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Buscar:</label>
                <input name="buscar" #termino type="text" (keyup.enter)="buscarPelicula(termino.value)" class="form-control" placeholder="Buscar pelicula">
            </div>
        </div>

    </div>

    <br>
    <h1> Buscando: {{ termino.value }} </h1>

    <div class="card-columns">

        <div class="card" *ngFor="let pelicula of _ps.peliculas">
            <img [src]="pelicula | peliculaImagen" class="card-img-top" [alt]="pelicula.original_title">
            <div class="card-body">
                <h5 class="card-title">{{ pelicula.title }}</h5>
                <p class="card-text text-justify">{{ pelicula.overview | slice:0:200 }}...</p>
                <button type="button" class="btn btn-primary btn-block">
                    Ver más...
                </button>
            </div>
        </div>
    </div>

    <app-loading *ngIf="loading" class="m-5"></app-loading>


</div>