<ion-header>
    <ion-toolbar color="dark">
        <ion-title>
            Formulario de lanse
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" style="background-color: rgb(0, 82, 150); color:white">
        <ion-img src="/assets/ANSES.png" style="background-color: rgb(0, 82, 150)"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>Prueba iPhone</ion-card-subtitle>
            <ion-card-title>Pa lansé</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Use laplicacion para descarga lo formulario de lansé para enllenar nla escuela</p>
        </ion-card-content>
    </ion-card>

    <ion-list lines="none">
        <ion-list-header>
            <ion-label>Seleccionar Lista</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let lista of deseosService.listas" detail>
            <ion-icon slot="start" color="medium" name="book"></ion-icon>
            <ion-label>{{ lista.titulo }}</ion-label>
        </ion-item>

    </ion-list>


    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="agregarLista()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>